.sidebar {
    background: #202225;
    width: 80px;
    display: flex;
    justify-content: center;

    .channels {
        display: flex;
        flex-direction: column;
        .channel {
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-radius: 100%;
            background-color: #36393f;
            margin: 10px 0; 
            height: 48px;
            width: 48px;
            cursor: pointer;
            transition: all 200ms ease;

            &:hover {
                border-radius: 15px;
                background-color: rgb(106, 236, 106);
                color: white;
            }
        }
    }

    a {
        color: white;
    }
}